/*UTILITIES*/

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-image: url(../img/sfondo-pagina.png);
}

.clearfix::after{
  content: "";
  clear: both;
  display: table;
}

.float-l{
  float: left;
}

.color-white{
  color: #fff;
}

/*END UTILITIES*/

.container{
  width: 1200px;
  margin: 0 auto;
  padding: 10px 0;
}

/*HEADER*/

header{
  height: 590px;
  text-align: center;
}

/*UPPER HEADER*/


.upper-header{
  height: 520px;
  background-color: #fff;
  padding: 10px;
  position: relative;
}

.upper-header >  img{
  width: 100%;
  height: 500px;
}

.logo-container{
  width: 760px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
}

.logo-container img{
  width: 100%;
}



/*END UPPER HEADER*/

/*LOWER HEADER*/
.lower-header{
  height: 70px;
  background-color: #606068;

}

.lower-header ul li{
  list-style: none;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  padding-right: 20px;
}

.lower-header ul li a{
  text-decoration: none;
  color: #fff;
}


/*END LOWER HEADER*/


/*END HEADER*/

main{
  margin: 10px 0;
}

.blocco-sinistro{
  width: 25%;
  height: 300px;
  background-color: #a08bb0;
}

.container-blocco-centrale{
  width: 50%;
  height:550px;
  padding: 0 15px;

}

.blocco-centrale{
  width: 100%;
  height: 100%;
  background-color: purple;
}

.container-blocchi-destri{
  width: 25%;
  height: 500px;

}

.blocco-superiore-destro, .blocco-inferiore-destro{
  width: 100%;
  height: 50%;
  background-color: #a08bb0;
  margin-bottom: 15px;
}


footer{
  height: 200px;
  background-color: lightblue;
}
