/*UTILITIES*/

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-image: url(../img/sfondo-pagina.png);
}

.clearfix::after{
  content: "";
  clear: both;
  display: table;
}

.float-l{
  float: left;
}

.bg-color-white{
  background-color: #fff;
}

.colore-grandezza-intestazioni-box{
  color:#222;
  font-size: 40px;
}

.stilizzazione-testo-box{
  margin-top: 40px;
  font-size: 20px;
  line-height: 35px;
}

.b-radius-5px{
  border-radius: 5px;
}

/*END UTILITIES*/

.container{
  width: 1200px;
  margin: 0 auto;
  padding: 10px 0;
}

/*HEADER*/

header{
  height: 590px;
  text-align: center;
}

/*UPPER HEADER*/


.upper-header{
  height: 520px;
  background-color: #fff;
  padding: 10px;
  position: relative;
}

.upper-header >  img{
  width: 100%;
  height: 500px;
}

.logo-container{
  width: 760px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
}

.logo-container img{
  width: 100%;
}

h1{
  color: #fff;
}



/*END UPPER HEADER*/

/*LOWER HEADER*/
.lower-header{
  height: 70px;
  background-color: #606068;

}

.lower-header ul li{
  list-style: none;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  padding-right: 20px;
}

.lower-header ul li a{
  text-decoration: none;
  color: #fff;
}

/*END LOWER HEADER*/


/*END HEADER*/

main{
  margin: 10px 0;
}

/*SECTION ORGANIC THEME*/

.blocco-sinistro{
  width: 25%;
  height: 570px;

}

.org-theme-title-container{
  width: 90%;
  height: 100px;
  padding: 5px;

}

.img-wifi-container{
  width: 40px;
  height: 40px;
}

.img-wifi-container img{
  width: 100%;
}

.title-container h2{
  margin-left: 10px;
}

.link-container{
  height: 470px;
  padding: 5px;


}

.link-container div{
  margin-top: 15px;
}

.link-container a{
  color:green;
  text-decoration: none;
  font-size: 25px;
}

/*END SECTION ORGANIC THEME*/

/*BLOCCO CENTRALE*/

.container-blocco-centrale{
  width: 50%;
  height:450px;
  padding: 0 15px;

}

.blocco-centrale{
  height: 100%;
  padding: 25px;

}



/*END BLOCCO CENTRALE*/

/*BLOCCHI DESTRI*/

.container-blocchi-destri{
  width: 25%;
  height: 1080px;
  margin-bottom: 45px;

}

.blocco-superiore-destro, .blocco-inferiore-destro, .ultimo-blocco-inferiore-destro{
  width: 100%;
  height: 33%;
  margin-bottom: 15px;
  padding: 30px;

}

/*END BLOCCHI DESTRI*/

/*FOOTER*/

footer{
  height: 200px;
  background-color: lightblue;
  text-align: center;
  padding: 0px 4px;
  color: #fff;

}

footer h3{
  border-bottom: 1px solid #222;
  padding: 5px;
  color: #a8b0a8;
  height: 30px;
}

footer div{

  height: 50px;
  margin-top:55px;
  padding: 0 60px;
  position:relative;


}

footer div nav ul li{
  width: 50px;
  height: 50px;
  float: left;
  list-style: none;
  padding-left: 100px;

}

footer div nav ul li img{
  width: 50px;
  height: 50px;
  text-align: center;
}

footer div nav ul li:nth-child(2){
  position: absolute;
  left:500px;;

}

footer div nav ul li:nth-child(3){
  position: absolute;
  right: 200px;
}

/*END FOOTER*/
