/*UTILITIES*/

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-image: url(../img/sfondo-pagina.png);
}

.clearfix::after{
  content: "";
  clear: both;
  display: table;
}

.float-l{
  float: left;
}

/*END UTILITIES*/

.container{
  width: 1200px;
  margin: 0 auto;
}

header{
  height: 600px;
  background-color: yellow;
}


main{
  margin: 10px 0;
}

.blocco-sinistro{
  width: 25%;
  height: 300px;
  background-color: #a08bb0;
}

.container-blocco-centrale{
  width: 50%;
  height:550px;
  padding: 0 15px;

}

.blocco-centrale{
  width: 100%;
  height: 100%;
  background-color: purple;
}

.container-blocchi-destri{
  width: 25%;
  height: 500px;

}

.blocco-superiore-destro, .blocco-inferiore-destro{
  width: 100%;
  height: 50%;
  background-color: #a08bb0;
  margin-bottom: 15px;
}


footer{
  height: 200px;
  background-color: lightblue;
}
